{%extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <h2>Результаты поиска:</h2>
    {% if searched %}
        {{searched}}
    {% else %}
        <p>Ничего не найдено!</p>
    {% endif %}
    {% if products%}
        {% for product in products %}
            <div class="col-sm-3">
                <div class="card card-block">
                    <a href="{{ product.get_absolute_url }}">
                <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'img/no_image.png' %}{% endif %}" style="height: 300px; width: 100%; display: block;">
                <div class="card-block">
                    <h4 class="card-title"><a href="{{ product.get_absolute_url }}"></h4>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    ₽{{ product.price }}
                </div>
                </div>
                
            </div>
        {% endfor %}
    {% endif%}
{%endblock content%}